In [18]:
import pandas as pd
import numpy as np


dataFrameCSV = pd.read_csv("archive/userDataTable.csv")
dataFrameCSV.head()

,Unnamed: 0.1,DATE,DESCRIPTION,DEBIT,Unnamed: 0,CREDIT,Unnamed: 1,VALUE DATE,BALANCE,Unnamed: 2
0,0,03/08/2022,NIP/STACK/Paystack/Transfer from,NaN,NaN,NaN,"24,375",03/08/2022,NaN,"24,409.65"
1,1,NaN,PiggyVestPiggyVest,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,03/08/2022,NIP/STACK/Paystack/Transfer from,NaN,NaN,NaN,"4,500",03/08/2022,NaN,"28,909.65"
3,3,NaN,PiggyVestPiggyVest,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,03/08/2022,NIP Charge + VAT,NaN,26.88,NaN,NaN,03/08/2022,NaN,"28,882.77"

In [14]:
dataFrameCSV.iloc[: , -1] = dataFrameCSV.iloc[: , -1].str.replace(',','')
lastColumn = dataFrameCSV.iloc[: , -1].dropna()

Balance = lastColumn.astype(float)
Balance

0     24409.65
2     28909.65
4     28882.77
5      3882.77
7       782.77
10     5782.77
12     6782.77
15      782.77
17     6167.77
19     6117.77
20     8067.77
23       67.77
25    20067.77
28    17067.77
30    17040.89
31       40.89
33     2040.89
36     1990.89
37      990.89
39     4990.89
41     1490.89
43     1040.89
44       40.89
46     1540.89
48      440.89
50     5440.89
52     5430.14
53      430.14
55    10430.14
58    40430.14
61    40380.14
Name: Unnamed: 2, dtype: float64

In [15]:
print(len(Balance))

31

In [43]:
loan_amount = 1000
  
count = 0
for i in Balance :
    if i < loan_amount :
        count = count + 1

print ("The numbers lesser than loan amount:" + str(loan_amount)+ "N is " + str(count)+ " out of " + str(len(Balance)))

The numbers lesser than loan amount:1000N is 8 out of 31

In [45]:
import math
balance_length = len(Balance)

quotient = (balance_length/3)
valid_percent = math.floor(quotient)
print(valid_percent)

10

In [44]:
if count > valid_percent:
    print("Don't give")
else:
    print("Give")

Give